.container__contacts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    padding-top: 2%;

    flex-direction: column;
    align-items: center;
    align-content: center;
}

.cont_bl {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
}
.cont_block{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.cont_bl>h2 {
    margin-right: 2vh;
}

.content__block-contacts {
    display: flex;
    flex-direction: column;
}

.container__content-contact {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.content__article {
    display: flex;
    width: 1fr;
    flex-direction: column;
}

.tx_cn {
    text-align: center;
    padding-bottom: 5%;
    font-family: 'Oswald', sans-serif;
}

.contacts__not-bold {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo__cont-h2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 13vh;
    padding-bottom: 2%;
}

.logo__form-h2 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-left: 13vh;
    padding-bottom: 2%;
    color: white;
    
}

.contacts__green-line-imp {
    display: flex;
    background-color: var(--primary);
    width: 4.5vh;
    height: 0.4vh;
    margin-left: 13vh;
    align-self: flex-start;
    margin-top: -2.5%;
    margin-bottom: 3%;
}

.contacts__white-line {
    display: flex;
    background-color: white;
    width: 4.5vh;
    height: 0.4vh;
    margin-left: 13vh;
    align-self: flex-start;
    margin-top: -2.5%;
    margin-bottom: 3%;
}

.form_mail {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 7%;
    background-image: url(../img/contacts.jpg);
    background-size: cover;
}

form {
    width: 70vw;
    height: 40vh;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(4, 1fr);
    display: grid;
    grid-column-gap: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form>* {
    height: 100%;
    padding-left: 5%;
}

.inf_email {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid #A19797;
    border-radius: 10px;
    max-height: 70px;
}

.inf_email1 {
    grid-column: 1/2;
    grid-row: 2/3;
    border: 1px solid #A19797;
    border-radius: 10px;
    max-height: 70px;
}

.inf_email2 {
    grid-column: 1/2;
    grid-row: 3/4;
    border: 1px solid #A19797;
    border-radius: 10px;
    max-height: 70px;
}

.inf_email3 {
    grid-column: 1/2;
    grid-row: 4/5;
    border: 1px solid #A19797;
    border-radius: 10px;
    max-height: 70px;
}

.inf_email4 {
    grid-column: 2/3;
    grid-row: 1/5;
    border: 1px solid #A19797;
    border-radius: 10px;
    max-height: 320px;
}

.send {
    grid: 0;
    align-self: center;
    width: 40%;
    border: none;
    color: white;
    font-family: 'Oswald', sans-serif;
    transition: all 0.3s;
    padding: 2%;
    cursor: pointer;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 3%;
}

::placeholder {
    font-size: 2vh;
    font-family: 'Oswald', sans-serif;
    color: #73beff;
}

.send>button {
    width: 100%;
    background: none;
    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    border: none;
    align-self: center;
    max-height: 100px;
    display: flex;
}

.send-content {
    display: flex;
    z-index: 2;
    color: white;
}

.send::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: var(--primary);
}

.send:hover::after {
    opacity: 0;
    height: 0;
    width: 0;
}

.send::before {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: all 0.3s;
    z-index: 1;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.send:hover::before {
    width: 100%;
}

.send span {
    letter-spacing: 0px;
    transition: all 0.3s;
}

.send:hover span {
    letter-spacing: 2px;
}

.contacts__logo-h2 {
    display: flex;
    align-self: flex-start;
    padding-bottom: 2%;
}

.logo__img-simple {
    width: 5vh;
    margin-left: 2vh;
}
.footer__contacts{
    margin-top: 7%;

}
.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
}
.conditions{
    border:3px var(--primary) solid;
    width: 70%;
    padding: 2%;
    border-radius: 15px;
}
.cont_h2{
    margin-top: 4%;
}
.continue__form_box{
    width: 100%;
    height: 20vh;
}
.feedback__h3{
    color: #bb5e5e;
    font-size: 25px;
}
footer{
    margin-top: 0%;
}
@media screen and (max-width: 640px) {
    .container__contacts{
        flex-direction: column;
        display: flex;
    }
    .container__content-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .content__article{
        margin-bottom: 5%;
    }
    .cont_article{
        margin-bottom: 5%;
    }
}
@media (max-width: 1200px) and (min-width: 1000px) {
    .feedback__h3{
        font-size: 22px;
    }
    .input{
        width: 45vw;
    }
}

@media (max-width: 1000px) and (min-width: 750px) {
    .feedback__h3{
        font-size: 16px;
    }
    .input{
width: 42vw;
    }
    .inf_email, .inf_email1, .inf_email2, .inf_email3{
        
        height: 85%;
    }
}
@media (max-width: 1000px) and (min-width: 900px) {
    .feedback__h3{
        font-size: 19px;
    }

}
@media (max-width: 750px) and (min-width: 600px) {
    .feedback__h3{
        font-size: 13.5px;
    }

}
@media (max-width: 900px) and (min-width: 600px) {
    .send{
        padding-right: 60%;
    }

}
@media (max-width: 600px) and (min-width: 500px) {
    .send{
        padding-right: 80%;
    }
    .feedback__h3{
        font-size:10.5px;
    }
}
@media (max-width: 500px) and (min-width: 460px) {
    .send{
        padding-right: 80%;
    }
    .feedback__h3{
        font-size:10px;
    }
}
@media (max-width: 1000px) and (min-width: 800px) {
    .tx_cn{
        font-size: 16px;
    }
    .contacts__not-bold{
        font-size: 15px;
    }
    .conditions > p{
        font-size: 13.5px;
    }

}
@media (max-width: 800px) and (min-width: 600px) {
    .tx_cn{
        font-size: 14px;
    }
    .contacts__not-bold{
        font-size: 13px;
    }
    .conditions > p{
        font-size: 12.5px;
    }
    

}
@media screen and (max-width: 460px) {
    .head{
        margin-top: 55px;
    }
    #main-header{
        margin-top: -5px;
        padding-top: 1% !important;
    }
    .feedback__h3{
        font-size: 9px;
     }
     form{
    width: 100%;
    height: 40vh;
        display: flex;
        flex-direction: column;
     }
     form input{
        width: 90%;
        margin-top: 10px;
        padding: 15px;
     }
     .logo__img-simple {
        margin-right: 7%;
        height: 5vh;
    }
    .send>button {
        font-size: 2vh;
    }
    .logo__form-h2 {
        margin-left: 2vh;
    }
    .contacts__white-line {
        margin-left: 2vh;

    }
    .logo__cont-h2{
        font-size: 20px;
        margin-left: 3vw;
    }
    .contacts__green-line-imp {
        margin-left: 1.5vh;

    }
    .logo__img-simple {
        margin-right: 7%;
        height: 3vh;
        width: 5vw;
    }
    .tx_cn{
        font-size: 15px;
    }
    .contacts__not-bold{
        font-size: 15px;
    }
  }
  @media (max-width: 430px) and (min-width: 360px) {

    .feedback__h3{
        font-size: 8px;
     }
}
@media (max-width: 360px) and (min-width: 300px) {

    .feedback__h3{
        font-size: 7px;
     }
     .send>button {
        font-size: 2vh;
    }
    .logo__form-h2 {
        margin-left: 2vh;
    }
    .contacts__white-line {
        margin-left: 2vh;

    }
    #main-header{
        padding-top: 0%;
        margin-bottom: 50px;
    }
}
@media (max-width: 300px) and (min-width: 260px) {

    .feedback__h3{
        font-size: 5.5px;
     }

}
@media (max-width: 310px) and (min-width: 260px) {

    #main-header{
        
        margin-top: -58px;
    }
}